<div class="container-fluid movable-exit hidden">
    <div class="row movable-onload">
        <div class="col-md-12">
            <h2 class="two-header center-header">Chose security level</h2>
        </div>
    </div>
    <div class="center-align">
        <div class="blur movable-onload">
            <div class="row">
                <div class="col-md-6 level-info">
                    <div class="chose-box movable-onload">
                        <h4 class="four-header">
                            Protected level
                        </h4>
                        <p class="regulag-text">
                            Main goal this level is protect bla-bla-bla
                        </p>
                        <p>
                            <a class="plate-button chose-button" onclick="chosePage.choseProtected();">Chose</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 svg-container">
                    <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="protected-lock movable-onload">Your browser does not support SVG</object>
                </div>
                <div class="col-md-2 svg-container">
                </div>
                <div class="col-md-2 svg-container">
                </div>
            </div>
        </div>
        <div class="blur movable-onload">
            <div class="row">
                <div class="col-md-6 level-info">
                    <div class="chose-box movable-onload">
                        <h4 class="four-header">
                            Secret level
                        </h4>
                        <p class="regulag-text">
                            Main goal this level is protect bla-bla-bla
                        </p>
                        <p>
                            <a class="plate-button chose-button" onclick="chosePage.choseSecret();">Chose</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 svg-container">
                    <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="protected-lock movable-onload">Your browser does not support SVG</object>
                </div>
                <div class="col-md-2 svg-container">
                    <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="protected-lock movable-onload">Your browser does not support SVG</object>
                </div>
                <div class="col-md-2 svg-container">
                </div>
            </div>
        </div>
        <div class="blur movable-onload">
            <div class="row">
                <div class="col-md-6 level-info">
                    <div class="chose-box movable-onload">
                        <h4 class="four-header">
                            Top Secret level
                        </h4>
                        <p class="regulag-text">
                            Main goal this level is protect bla-bla-bla
                        </p>
                        <p>
                            <a class="plate-button chose-button" onclick="chosePage.choseTopSecret();">Chose</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 svg-container">
                    <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="protected-lock movable-onload">Your browser does not support SVG</object>
                </div>
                <div class="col-md-2 svg-container">
                    <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="protected-lock movable-onload">Your browser does not support SVG</object>
                </div>
                <div class="col-md-2 svg-container">
                    <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="protected-lock movable-onload">Your browser does not support SVG</object>
                </div>
            </div>
        </div>
    </div>
</div>



