<div class="container-fluid movable-exit hidden">
    <div class="row movable-onload">
        <div class="col-md-12 col-sm-12 col-lg-12 center-content">
            <h2 class="two-header">Chose security level</h2>
        </div>
    </div>
    <div>
        <div class="row movable-onload">
            <div class="col-md-12 col-sm-12 col-lg-12 col-12 text-right">
                <a class="small-btn" onclick="deleteData();">Delete Data</a>
            </div>
        </div>
        <div class="blur movable-onload">
            <div class="row center-content chose-row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="movable-onload">
                            <h4 class="four-header">
                                Protected level
                            </h4>
                            <div class="d-sm-none d-none d-md-inline d-lg-inline d-xl-inline">
                                <p class="regulag-text">
                                    Main goal this level is protect bla-bla-bla
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="svg-container movable-onload">Your browser does not support SVG</object>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 text-left">
                        <p>
                            <a class="small-btn" onclick="chosePage.choseProtected();">Chose</a>
                        </p>
                    </div>
            </div>
        </div>
        <div class="blur movable-onload">
            <div class="row center-content chose-row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="movable-onload">
                            <h4 class="four-header">
                                Secret level
                            </h4>
                            <div class="d-sm-none d-none d-md-inline d-lg-inline d-xl-inline">
                                <p class="regulag-text">
                                    Main goal this level is protect bla-bla-bla
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="svg-container movable-onload">Your browser does not support SVG</object>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="svg-container movable-onload">Your browser does not support SVG</object>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 text-left">
                        <p>
                            <a class="small-btn" onclick="chosePage.choseSecret();">Chose</a>
                        </p>
                    </div>
            </div>
        </div>
        <div class="blur movable-onload">
            <div class="row center-content chose-row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="movable-onload">
                            <h4 class="four-header">
                                TopSecret level
                            </h4>
                            <div class="d-sm-none d-none d-md-inline d-lg-inline d-xl-inline">
                                <p class="regulag-text">
                                    Main goal this level is protect bla-bla-bla
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="svg-container movable-onload">Your browser does not support SVG</object>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="svg-container movable-onload">Your browser does not support SVG</object>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <object type="image/svg+xml" data="~/images/lock-bw4.svg" class="svg-container movable-onload">Your browser does not support SVG</object>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 text-left">
                        <p>
                            <a class="small-btn" onclick="chosePage.choseTopSecret();">Chose</a>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>



