@model Encryption
@{
    ViewData["Title"] = "Encryption";
}
<div class="container-fluid movable-exit">
    <div class="row">
        <div class="col-md-12">
            <h2 class="two-header center-header">Encryption</h2>
        </div>
    </div>
    <div class="row movable-onload">
        <div class="col-md-4">
            <a class="plate-button setting-button" onclick="encryptionPage.gotoPreviousPage();">Back</a>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3" style="padding-left:9.9%;"><a class="plate-button setting-button" onclick="deleteData();">Delete Data</a></div>
    </div>
    <div class="row top-margin movable-onload">
        <div class="col-md-12">
            <textarea class="encryption-textbox" id="textBox" rows="10"></textarea>
        </div>
    </div>
    <div class="row checkbox-row movable-onload">
        <div class="col-md-2">
            <label class="regulag-text">Encryption</label>
            <input type="checkbox" name="Encryption" id="encryptionCheckbox" onchange="encryptionPage.changeEncryptionDirection('encryption');" />
        </div>
        <div class="col-md-2">
            <label class="regulag-text">Decryption</label>
            <input type="checkbox" name="Decryption" id="decryptionCheckbox" onchange="encryptionPage.changeEncryptionDirection('decryption');" />
        </div>
        <div class="col-md-8"></div>
    </div>
    <div class="row movable-onload top-margin">
        <div class="col-md-12">
            <input class="plate-button" onclick="encryptionPage.transform();" value="Transform" type="submit" />
        </div>
    </div>
</div>