@model InitializationViewModel
@{
    ViewData["Title"] = "EncryptHelper";
}

<div class="container-fluid movable-exit hidden">
    <div class="masterPage">
        <div class="row movable-onload">
            <div class="col-md-12 col-sm-12 col-12 col-lg-12 text-center">
                <h2 class="two-header">Enter database password</h2>
            </div>
        </div>
        <div class="row movable-onload">
            <div class="col-md-12 col-sm-12 col-12 text-center">
                <input class="text-box single-line password-input text master-password-input" id="MasterPassword" autocomplete="off" name="MasterPassword" type="text" value="" />
            </div>
        </div>
        <div class="row movable-onload top-margin">
            <div class="col-md-12 col-sm-12 col-12 text-center">
                <input class="big-btn" type="submit" value="Next" onclick="submitPassword();" onsubmit="submitPassword();" />
            </div>
        </div>
    </div> 
</div>
<script>
    loadPage('forward');

    function getPass() {
        return document.getElementById("MasterPassword").value;
    }

    function submitPassword() {
        let pass = getPassword();
        postRequest({ MasterPassword: pass }, "/Home/Initialization", rightPassword, wrongPassword);
    }

    function wrongPassword(data) {
        alert("Password is wrong!");
        console.log(data);
    }

    function rightPassword(data) {
        pageCache.chosePage = data;
        nextPage(data);
    }

    function getPassword() {
        return document.getElementById("MasterPassword").value;
    }
</script>

