@model SettingsViewModel


<div class="container-fluid movable-exit hidden">
    <div class="row movable-onload">
        <div class="col-md-12">
            <h2 class="two-header center-header">Enter password(s)</h2>
        </div>
    </div>
    <div class="row movable-onload">
        <div class="col-md-3">
            <a class="plate-button chose-button" onclick="settingsPage.gotoPreviousPage();">Back</a>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2"><a class="plate-button chose-button" onclick="deleteData();">Delete Data</a></div>
    </div>
    <div class="center-align blur movable-onload">
        <div class="passwords-wrapper padding-left">
            @{
                for (int i = 0; i < Model.PasswordsCount; i++)
                {
                    <div class="row movable-onload">
                        <div class="col-md-12">
                            <input autocomplete="off" class="text password-input" id="Passwords_@(i)_" name="Passwords[@(i)]" placeholder="Password #@(i+1)" type="text" value="" oninput="settingsPage.passwordChecker(@i);">
                        </div>
                    </div>
                }
                <div class="row movable-onload">
                    <div class="col-md-12">
                        <input class="plate-button setting-button disabled" disabled="disabled" type="submit" value="Next" id="submitPasswords" onclick="settingsPage.submitEncryptionPasswords();" onsubmit="settingsPage.submitEncryptionPasswords();" />
                        <a href="#openModal" class="plate-button setting-button" onclick="settingsPage.showModalElements();">Generate Password</a>
                    </div>           
                </div>
            }
        </div>
    </div>
</div>
<div id="openModal" class="modalWindow">
    <div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="two-header">Password Generator</h2>
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-md-12 top-margin">
                <label class="regulag-text" id="resultPassword">Char count:</label>
                <input type="number" id="numberBox" min="4" step="1" value="10" onchange="settingsPage.charCountCorrection()" />
            </div>
        </div>
        <div class="row top-margin">
            <div class="col-md-5"></div>
            <div class="com-md-2">
                <input type="submit" value="Generate" class="plate-button" id="generateButton" onclick="settingsPage.generatePassword()"/>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row cancel-button-row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <a href="#ok" class="plate-button">Close</a>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(model => model.PasswordsCount)




